<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="__PUBLIC__/csswx/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/csswx/userCenter.css"/>
</head>
<body class="bg-about-us">
<div class="content-text-box">
    <div class="gray-title-bar">
        <a href="javascript:history.go(-1)">
            <b class="left"><i class="left-arrow1"></i><i class="left-arrow2"></i></b>
            <span>公司简介</span>
        </a>
    </div>
    <div style="color:#fff!important;padding:0 15px;padding-top: 40px;overflow: hidden;line-height: 20px;">
        <p>公司简介</p>
        <br/>
        <p>微合伙——社交版简介</p>
        <br/>
        <p>微合伙——社交版正式上线后,</p>
        <p>受到广大金融人士热捧,</p>
        <p>我们致力于为金融人士打造一个高端交友平台。</p>
        <br/>
        <p>在这里,您可以分享您的爱情故事;</p>
        <br/>
        <p>在这里,您可以结识三五生活好友;</p>
        <br/>
        <p>在这里,您可以丰富工作之余的闲暇时光;</p>
        <br/>
        <p>在这里,您不仅可以实现人生价值,</p>
        <br/>
        <p>还可有结识更美好的他/她,您的幸福我来定制。</p>
    </div>

</div>

</body>
</html>