<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>jquery实现列表图片放大效果</title>
    <!-- Make the page take the full width of the device-->
    <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
    <!-- The stylesheet -->
    <link rel="stylesheet" href="/admin/Public/Jqurerymax/assets/css/styles.css" />
    <link rel="stylesheet" href="/admin/Public/Jqurerymax/assets/touchTouch/touchTouch.css" />
    <!-- Google Fonts -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <h1>TouchTouch</h1>
    <h2>A gallery optimized for touch devices</h2>
</header>
<div id="thumbs">
    <a href="/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg" style="background-image:url(/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg)" title="Lion Rock"></a>
    <a href="/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg" style="background-image:url(/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg)" title="Holsten Gate"></a>
    <a href="/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg" style="background-image:url(/admin/Public/app_card/2017-01-06/586f473fe97b8.jpg)" title="Blue Hour"></a>

<script src="/admin/Public/Jqurerymax/js/jquery-1.7.1.min.js"></script>
<script src="/admin/Public/Jqurerymax/assets/touchTouch/touchTouch.jquery.js"></script>
<script src="/admin/Public/Jqurerymax/assets/js/script.js"></script>
</body>
</html>
